<html ng-app="exampleApp">
<head>
	<title>Directives</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script>
		angular.module("exampleApp", []) 
			.directive("unorderedList", function() {
				return function (scope, element, attrs) { // Link function
					var data = scope[attrs["unorderedList"]]; // Get from attrs then pass the result to scope
					var propertyExpression = attrs["listProperty"]; // Get property of the data to to work with the directive
					if (angular.isArray(data)) {
						// user jqlite to append data to elements
						var listElem = angular.element("<ul>"); // create <ul> elements
						element.append(listElem); // add the <ul> element to the element of the linked function 
						for (var i = 0; i < data.length; i++) {
							(function () {
								var itemElement = angular.element('<li>');
								listElem.append(itemElement);
								var index = i; 
								var watcherFn = function (watchScope) { // Defining a watcher function, scope is passed to this function
									return watchScope.$eval(propertyExpression, data[index]);
								}
								scope.$watch(watcherFn, function (newValue, oldValue) {
									itemElement.text(newValue);
								});
								//listElem.append(angular.element('<li>').text(scope.$eval(propertyExpression, data[i]))); // Add <li> elements to <ul> elements, )evaluates attrs value
							}());
						}
					}
				}
			})
			
			.controller("defaultCtrl", function ($scope) {
				$scope.products = [
					{ name: "Apples", category: "Fruit", price: 1.20, expiry: 10 },
					{ name: "Bananas", category: "Fruit", price: 2.42, expiry: 7 },
					{ name: "Pears", category: "Fruit", price: 2.02, expiry: 6 },
				];

				$scope.incrementPrices = function() {
					for (var i = 0; i < $scope.products.length; i++) {
						$scope.products[i].price++; 
					}
				}
			})

	</script>
</head>
<body ng-controller="defaultCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Products</h3>
		</div>
		<div class="panel-body">
			<button class="btn btn-primary" ng-click="incrementPrices()">
				Change Prices			
			</button>
		</div>
		<div class="panel-body">
			<div unordered-list="products" list-property="price | currency"></div>
		</div>
	</div>
</body>
</html>